*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    margin: 0; 
    padding: 0; 
    background-color: white;
    max-height: 100vh;
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right:0;
    left: 19vw; 
    width: 81%; 
}

.info-bar{
    position:fixed;
    width:15rem;
    height: 14.5rem;
    left:20vw;
    top:6.9vh;
    bottom:0;
    background-color: white;
    text-align: left;
    color:#259B9A;

}

.info-bar p{
    font-weight: bold;
    padding-top:0.4;
    padding-left:0.4rem;
    padding-bottom:0;
    padding-right:0;
    margin-top:0.4;
    margin-left:0.4;
    margin-bottom:0;
    margin-right:0;
    font-size:0.7rem;
}

info-bar h3{
    margin-top: 0;
    padding-top: 0;
    position: relative;
    top:-1rem;
}

.info-bar img{
    justify-content: center;
    width: 10.2rem;
    padding:0;
    margin:0;
}

#descr{
    text-align: center;
}

#insuff{
    color:black
}

@keyframes show {
    100% {
      opacity: 1;
      transform: none;
    }
  }

#nav-menu {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 18vw;
    padding-left:0;
    margin-left:0;
}

#nav-wrapper{
    padding-left:0;
    margin-left:0;
}

h1{
color: #00A9D8;
padding-left:0.5rem;
font-size:1.6rem;
}

ul {
    list-style: none;
    padding-left:0rem;
    margin-left:0;
}

#se {
    color:#0D9EDF;
}

#eh {
    color:#259B9A;
    padding-left:0.5rem;
    font-size:1.2rem;
}

li {
    margin-top: 0.75rem;
    margin-bottom:0.75rem;
    margin-left:0;
}

.map-img{
    width:1rem;
    padding-left:1rem;
    padding-right:1rem;
}

.health-img{
    width:1rem;
    padding-left:1rem;
    padding-right:1rem;
}


.toggle{
    border: none;
    background-color: inherit;
    color: #5c6064;
    width:16.8rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align:left;
    padding-top:0.45rem;
    padding-bottom:0.45rem;
    cursor: pointer;
}

.toggle .active{
    outline:none;
    border: none;
    background-color: inherit;
    background-color: #e7f0ff;
    color:#185bbd;
    font-weight:bold;
    font-size:100%;
}

.toggle:focus{
    outline:none;
    border: none;
    background-color: inherit;
    background-color: #e7f0ff;
    color:#185bbd;
    font-weight:bold;
    font-size:100%;
}

.btn-highlight,
.btn-highlight:focus,
.btn-highlight:hover{
    border: none;
    background-color: #e7f0ff;
    color:#185bbd;
    font-weight:bold;
    font-size:100%;
}

.toggle:hover{
    background-color: #f0f0f0;
    transition: 0.1s;
}

.toggle:hover.btn-highlight{
    background-color: #e7f0ff;
    transition: 0.1s;
}

.toggle-2{
    border: none;
    background-color: inherit;
    color: #a3a079;
    width:16.8rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align:left;
    padding-top:0.45rem;
    padding-bottom:0.45rem;
    cursor: pointer;
}

.toggle-2:hover{
    background-color: #f0f0f0;
    transition: 0.1s;
}

.toggle-2:hover.btn-highlight2{
    background-color: #d4d1ae;
    transition: 0.1s;
}

.btn-highlight2,
.btn-highlight2:focus,
.btn-highlight2:hover{
    outline:none;
    border: none;
    background-color: inherit;
    background-color: #d4d1ae;
    color:#898660;
    font-weight:bold;
    font-size:100%;
}

.mapboxgl-popup-content {
    background-color: #259B9A;
    color:white;
    text-align: left;
    margin:0;
    padding:0;

  }

  .mapboxgl-popup-content p{
    color:#e7f0ff;
    font-size:0.6rem;
    padding:0;
    margin:0;
    margin-left:0.3rem;
    margin-right:0.3rem;
  }
  .mapboxgl-popup-content h3{
    margin-bottom:0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    padding-top:0rem;
    padding-bottom:0rem;
    font-size:1.1rem;
    font-weight: bold;
    text-align:center;
  }


  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
      border-bottom-color: #259B9A;
      }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
      border-top-color: #259B9A;
      }
  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
      border-right-color: #259B9A;
      }
  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
      border-left-color: #259B9A;
      }
  
  .geocoder{
    position:absolute;
    left:20vw;
    top:0.5vw;
    bottom:0;
  }

  #sf-popup{
    color:red
  }

  #legend{
    position:absolute;
    bottom:2rem;
    right:1rem;
    width:19rem;
  }

  @media only screen and (max-width: 1137px) {
    .toggle{
        width:12.5rem;
        font-size: 0.7rem;
        padding-top: 0.2rem;
        padding-bottom:0.2rem;
    }

    .toggle img{
        width:0.6rem
    }

    .toggle-2 img{
        width:0.6rem
    }


    .toggle-2{
        width:12rem;
        font-size: 0.7rem;
        padding-top: 0.2rem;
        padding-bottom:0.2rem;
    }
    h1{
        color: #00A9D8;
        padding-left:0.5rem;
        font-size:1.2rem;
            }

        #eh {
            color:#259B9A;
            padding-left:0.5rem;
            font-size:1rem;
        }

.toggle .active{
    outline:none;
    border: none;
    background-color: inherit;
    background-color: #e7f0ff;
    color:#185bbd;
    font-weight:bold;
}

.toggle:focus{
    outline:none;
    border: none;
    background-color: inherit;
    background-color: #e7f0ff;
    color:#185bbd;
    font-weight:bold;
}

.btn-highlight,
.btn-highlight:focus,
.btn-highlight:hover{
    border: none;
    background-color: #e7f0ff;
    color:#185bbd;
    font-weight:bold;
}


.btn-highlight2,
.btn-highlight2:focus,
.btn-highlight2:hover{
    outline:none;
    border: none;
    background-color: inherit;
    background-color: #d4d1ae;
    color:#898660;
    font-weight:bold;
}

  }

  @media only screen and (max-width: 450px) {
.toggle img{
    display:none
}

.toggle-2 img{
    display:none
}

.toggle{
    font-weight:bold;
    width:8.5rem;
    font-size: 0.3rem;
    padding-top: 0.2rem;
    padding-bottom:0.2rem;
}

.toggle-2{
    font-weight:bold;
    width:8.5rem;
    font-size: 0.3rem;
    padding-top: 0.2rem;
    padding-bottom:0.2rem;
}
h1{
    color: #00A9D8;
    padding-left:0.5rem;
    font-size:0.5rem;
        }

    #eh {
        color:#259B9A;
        padding-left:0.5rem;
        font-size:0.5rem;
    }


    .toggle .active{
        outline:none;
        border: none;
        background-color: inherit;
        background-color: #e7f0ff;
        color:#185bbd;
        font-weight:bold;
    }
    
    .toggle:focus{
        outline:none;
        border: none;
        background-color: inherit;
        background-color: #e7f0ff;
        color:#185bbd;
        font-weight:bold;
    }

    
    
    .btn-highlight,
    .btn-highlight:focus,
    .btn-highlight:hover{
        border: none;
        background-color: #e7f0ff;
        color:#185bbd;
        font-weight:bold;
    }
    
    
    .btn-highlight2,
    .btn-highlight2:focus,
    .btn-highlight2:hover{
        outline:none;
        border: none;
        background-color: inherit;
        background-color: #d4d1ae;
        color:#898660;
        font-weight:bold;
    }
    


}
  